.apps-page {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  text-align: center;
  margin-left: 140px;
}

.apps_page_img {
  width: 16.75rem;
  height: 10.75rem;
  background-position: 50%;
  background-size: cover;
}

.apps_page_img2 {
  margin-left: -1rem;
  margin-top: 5rem;
  width: 17.75rem;
  height: 10.75rem;
  background-position: 50%;
  background-size: cover;
}

.apps_title {
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.33333;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  max-height: 9.599976rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #242424;
}

.apps_para {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.33333;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  max-height: 7.199982rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
  color: #242424;
}
