.m-banner {
  -webkit-app-region: drag;
  background: #464775;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: sticky;
}

.app-icon {
  font-size: 26px;
  color: #fff;
}

.nav-heading {
  font-weight: 500;
  line-height: 1.333;
  font-size: 180%;
  padding-left: 2rem;
}

.after {
  display: none;
}

.searchbar {
  margin-left: 3%;
  width: 50%;
}

.search-icon {
  color: rgba(5, 3, 3, 0.192);
  background: rgba(255, 255, 255, 0.8);
  height: 35px;
  width: 20px;
}

.search {
  width: 70%;
  height: 35px;
  background: rgba(255, 255, 255, 0.8);
}

input:focus,
textarea {
  border: none;
  outline: none !important;
}

.dot-icon {
  font-size: 150%;
  margin-top: 0.4rem;
  margin-right: 25px;
}

.circle-icon {
  margin-top: 0.4rem;
  font-size: 150%;
  margin-right: 25px;
}

.home {
  color: white;
}

.home:hover {
  color: white;
  box-shadow: 0 0.2rem 1.6rem 0 rgb(37 36 35 / 30%);
}

.logout {
  color: #464775;
  background-color: #fff;
  text-decoration: none;
  border: white;
  font-size: 100%;
  margin-right: 5px;
}

.logout:hover {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 13px;
}

@media screen and (max-width: 955px) {
  .nav-heading {
    font-size: 100%;
  }
  .dot-icon {
    margin-top: 0px;
    font-size: 20px;
    margin-right: 0.6rem;
  }
  .circle-icon {
    margin-top: 0px;
    font-size: 20px;
    margin-right: 0.6rem;
  }
  .search-icon {
    display: none;
  }
  .logout {
    font-size: 9px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 614px) {
  .dot-icon {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .searchbar {
    width: 30%;
  }
  .search {
    width: 50%;
  }
  .home1 {
    margin-right: 1%;
  }
  .circle-icon {
    margin-right: 5px;
  }
  .logout {
    padding: 1px 3px;
  }
}

@media screen and (max-width: 400px) {
  .previous {
    display: none;
  }
  .after {
    display: inline-block;
  }
}
