.navsec {
  background: #fff;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  overflow: hidden;
}

.teams-title {
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 1.7rem 5.5rem 1.9rem;
  display: inline-block;
  line-height: 1.4286;
}

.video-icon-layout {
  margin-right: 30px;
  justify-content: space-between;
}

.video-icons {
  margin-right: 20px;
}

.video-icon {
  margin-right: 10px;
}

.video_button {
  box-shadow: 0 0.2rem 0.4rem -0.075rem rgb(0 0 0 / 10%);
  background: #fff;
  border: 0;
  color: #252423;
}

.video_button:hover {
  background-color: #b5b6db;
  color: white;
  padding: 1px 4px;
  border-radius: 5px;
}

.heading2 {
  display: none;
}

@media screen and (max-width: 537px) {
  .teams-title {
    font-size: 1.4rem;
  }
  .video-icons {
    margin-right: 10px;
  }
  .video-icon {
    margin-right: 5px;
  }
  .video_button {
    font-size: 13px;
  }
  .video-icon-layout {
    margin-right: 10px;
  }
}

@media screen and (max-width: 447px) {
  .teams-title {
    margin-right: 10%;
    margin-top: 2rem;
  }
  .heading1 {
    display: none;
  }
  .heading2 {
    display: inline-block;
  }
}

@media screen and (max-width: 330px) {
  .video-icons {
    display: none;
  }
}
